@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat:wght@100&family=Space+Mono&display=swap');

* {
    --light-yellow: #fefde1ff;
--maya-blue: #6ab9feff;
--yale-blue: #194b8dff;
--oxford-blue: #0a1d36ff;
--rich-black-fogra-29: #050a14ff;
}

body {
    display: flex;
    color: var(--yale-blue)
    background-color: var(--maya-blue);
    font-family: 'Montserrat', sans-serif;
}

header {
    width:100%;
}

main {
    width: 100vw;
    height 100vh;
    background-image:url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat:wght@100&family=Space+Mono&display=swap');
    background-size: cover;
}

img {
    width:100%;
    border: 5px solid var(--oxford-blue);
}

dark-text {
    color: var (--rich-black-fogra-29)
}

@media (max-width: 600px) {
    body {flex-direction: column;}
}